.complete {
  background-color: rgb(183, 241, 183);
}

.itemText {
  font-family: 'Indie Flower', cursive;
  font-size: 200%;
  width: 100%;
  margin: 10px;
  padding: 5px;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

li {
  list-style: none;
}

.completeBtn {
  font-family: 'Indie Flower', cursive;
  float: left;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: solid 10px green;
  border-radius: 50%;
  font-size: 300%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.confirmationInterface {
  float: right;
}

.itemDiv {
  border: solid 1px black;
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  background-color: #EEE;
  min-height: 500px;
  padding: 50px;
}

#inputRow {
  padding: 25px;
}