
.itemText {
  font-family: 'Indie Flower', cursive;
  font-size: 200%;
  width: 100%;
  margin: 10px;
  padding: 5px;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

li {
  list-style: none;
}

.completeBtn {
  font-family: 'Indie Flower', cursive;
  float: left;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: solid 10px green;
  border-radius: 50%;
  font-size: 300%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.itemDiv {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.container {
  background-color: #EEE;
  min-height: 500px;
  padding: 50px;
}

#inputRow {
  padding: 25px;
}

li:nth-child(odd) {
  background-color: #CCC;
}

.overdue:nth-child(odd) {
  background-color: rgb(255, 182, 182);
}

.overdue:nth-child(even) {
  background-color: rgb(255, 225, 225);
}

.complete:nth-child(odd) {
  background-color: rgb(183, 241, 183);
}

.complete:nth-child(even) {
  background-color: rgb(211, 248, 211);
}

#todoIn {
  width: 300px;
}

.dueDate {
  font-size: 50%;
}

.itemText {
  display: block;
}

.redBorder {
  border-color: rgb(187, 67, 67)
}